.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  max-height: 50%;
}

.card {
  display: flex;
  justify-content: center;
  border: 1px solid#f6bd60;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}
.readComments {
  min-height: 4rem;
  margin: 2rem 0;
  font-style: italic;
  overflow-y: auto;
}
/* .readComments > p {
  margin-bottom: 1rem;
} */

.commentsCard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.commentWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.commentName {
  margin-right: 1rem;
  font-style: normal;
  font-weight: bold;
}

.commentDate {
  /* position: absolute;
  right: 0; */
  min-width: 8rem;
  /* max-width: 8rem; */
  margin-left: 1rem;
  font-style: normal;
}
