.body {
  background-image: url(../../public/images/cafe.jpeg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.card {
  background-color: bisque;
  width: 40vw;
  height: 40vh;
  position: relative;
  top: 30%;
  left: 50%;
}

.card > * {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
