/* .body {
  background-image: url(../../public/images/bg.jpeg);
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
}

.cardContainer {
  justify-content: space-around;
  max-width: 80%;
} */
